<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
</head>
  <body>
      <h3><%= userId %></h3>
      <div>
        <form>
            <label>이름</label><input type ="text" id=name><br>
            <label>나이</label><input type ="number" id=age><br>
            <label>폰</label><input type ="tel" id=phone><br>
            <button type="button" id ="regist"></button>
        </form>
      </div>
  </body>
  <script src="/javascripts/login.js"></script>
</html>